.main-head {
    background-color: brown;
    color: white;
    padding: 50px;
    margin-bottom: 30px;
}

.addtrainhead, .schedulehead {
    background-color: royalblue;
    color: white;
    padding: 10px;
    width: 100%
}

#trainSchedule, #addTrain {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: royalblue;
    padding: 0px;
    margin-bottom: 30px;
}

.trainForm, .train-group {
    margin: auto 15px 20px;
}

.form-control {
    margin-bottom: 20px; 
}

label {
    font-weight: bold;
}

.columns, .newtraindiv{
    border-style: solid;
    border-width: 0px 0px 1px;
    margin-left: 10px;
    margin-right: 10px;
    border-color: lightgray;
    padding: 10px;
}

